img{
    width: 100%;
}
[class^="container"] {
    border: 1px solid violet;
    min-height: 200px;
}
[class^="row"]{
    background-color: aqua;
    border: 1px solid red;
    min-height: 200px;
}
[class^="col"]{
    border: 1px solid black;
    min-height: 200px;
}